body{
    font-family: "Poppins", sans-serif;
  font-style: normal;
    margin-bottom: 10px;
  background-color: #272044;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../images/Hero-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
h1 {
    font-size: 96px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
}
h2 {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 5px;
}
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #272044;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    header {
        padding: 20px 10px;
        margin: 0;
        align-items: center;
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 14px;
    }
    h3{
        font-size: 16px;
    }
    .img-responsive{
        width: 100%;
        height: auto;
        display: block;
    }
    h4 {
        font-size: 18px;
    }
    section h2{
        font-size: 24px;

    }
    .grid-3-columns{
        grid-template-columns: 1fr !important;
    }
    .grid{
        grid-template-columns: 1fr !important;
    }
    
    main{
        padding: 20px 10px;
        margin: auto;
    
    }
section.malls{
    display: block;
    width: 100%;
}
    
}
/*main styles*/

section.grid-footer {
    background-image: linear-gradient(rgba(0,0,0,1.8), rgba(0,0,0,0.9)), url('../images/Hero.png');
    padding: 40px 20px;
    color: white;
}
.container {
    max-width: 1400px;
    margin:0 auto;

}
section.center-grid img {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
}

section{
    margin: 0 auto;
    padding: 100px 
}

 /*Malls Section*/ 
 section.malls {
    background-color: pink;
    align-items: center;
    padding: 40px 20px;

 }
.text-center {
    text-align: center;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}
.grid-3-columns{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    background-color: white;
    margin: 30px 0;
}
.card-body{
    padding: 20px;
}
.card h4{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 10px 20px;
    color: #272044;
    line-height: 1.5;
}
.card p{
    font-size: 14px;
    line-height: 1.5;
    color: #272044;
    font-weight: 400;
    opacity: 0.8;
    padding: 0 20px 20px 20px;
}
.card h5{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    padding: 0;
    color: #272044;
    line-height: 1.5;
}
.btn-small{
    display:block;
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    line-height: 21px;
    letter-spacing: 3px;
    color:white;
    background-color: #272044;
    text-decoration: none;
    text-transform: uppercase;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;

}
 

main{
    padding: 40px 20px;
    background-color: white;
}
main h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    opacity: 0.8;
    text-transform: uppercase;
    color: #272044;
    margin: 0;
}
main h2{
    font-weight: 700;
    font-size: 40px;
    margin:0;
    color: #272044;
    line-height: 1.5;
}
section p{
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    color: #272044;
    font-weight: 400;
    opacity: 0.8;
}
section h3 {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 600;
}  
section li {
    list-style: none;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 500;
    color: white;
} 
.grid-footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}