body{
    font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

}
header {
    background-image: url('../images/Hero-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
h1 {
    font-size: 96px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
}
h2 {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 5px;
}
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #272044;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    header {
        padding: 8px 15px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
}