body{
    font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container {
    max-width: 1000px;
    margin: 0 auto;

}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../images/Hero-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
h1 {
    font-size: 96px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
}
h2 {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 5px;
}
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #272044;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    header {
        padding: 8px 15px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
}
section {
    background-image: linear-gradient(rgba(0,0,0,1.8), rgba(0,0,0,0.9)), url('../images/Hero.png');
    padding: 40px 20px;
    color: white;
}
section h3 {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
}
section p {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 300;
}  
section li {
    list-style: none;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 500;
    color: white;
} 
.grid-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}